* {
  box-sizing: border-box;
}

body {
  color: rgb(100, 100, 100);
}

.first_class {
  color: orangered;
}

.second_class {
  color: blue;
}
/* .block-class.clock-class beats other 2 classes .block-class and .clock-class because it's more specific */
.block-class.clock-class {
  color: yellow;
  background-color: pink;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
}

.block-class {
  color: yellow;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
}

.clock-class {
  /* It overlaps on .block-class because it's the same level of specificity as the block-class but downwards in the css file*/
  color: yellow;
  border: 1px solid red;
  margin-bottom: 5px;
  padding: 5px;
}

/* It is general specs for div attribute if nothing overlapping is specified */
div {
  height: 100px;
  color: orange;
  background-color: wheat;
  width: 200px;
  padding: 15px;
  border: 2px solid black;
  overflow: scroll;
  margin: 20px;
}

.block-class.clock-class p {
  color: white;
  background-color: red;
}

.clock-class.trick-class p {
  color: green;
  background-color: white;
}

/* .block-class.clock-class.trick-class p {
  color: green;
  background-color: white;
} */
