* {
  box-sizing: border-box;
  margin: 0px;
}
:root {
  --headerFontType1: "Roboto", "Open Sans", sans-serif;
  --headerBackground: #4db6ac;
  --header1Background: rgb(51, 45, 45);
  --header2Background: rgb(0, 0, 0);
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
  --topLeftColor: rgb(2, 194, 120);
  --topRightColor: rgb(5, 231, 144);
  --bottomRightColor: rgb(161, 241, 211);
  --contentBackground: rgb(167, 231, 223);
}

html {
}

body {
  margin: 0px;
  font-family: var(--headerFontType1);
  background: var(--contentBackground);
}

.header {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--headerBackground);
  min-height: 50px;
}

.leftHeader,
.rightHeader {
  width: auto;
  background: var(--headerBackground);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.leftHeader {
  text-transform: lowercase;
  flex-wrap: nowrap;
  margin-left: 5px;
}
.rightHeader {
  font-size: 14px;
  color: rgb(243, 237, 237);
}

.imgClass {
  display: inline-block;
  height: 50px;
  object-fit: contain;
}
.leftHeader1,
.leftHeader2 {
  font-size: 25px;
}

.leftHeader1 {
  color: rgb(54, 47, 47);
}
.leftHeader2 {
  color: white;
}
.material-icons {
  font-size: 30px;
  margin-right: 2px;
}

.rightHeaderContainer {
  align-items: center;
  display: flex;
  height: 100%;
  align-items: center;
}

.rightHeader.rightHeaderSub {
  margin-left: 10px;
  background-color: var(--header1Background);
  justify-content: space-between;
  color: rgb(211, 208, 208);
  width: auto;
}

.header1Sub {
  height: 100%;
  margin-right: 20px;
}
.leftHeader1,
.imgClass,
.rightHeaderContainer,
.rightHeader.rightHeaderSub.rightHeaderSub1 {
  margin-right: 20px;
}

.rightHeader.rightHeaderSub.rightHeaderSub1,
.header.header1:nth-child(3) {
  background: var(--header2Background);
}

.header.header1:nth-child(2) {
  background: var(--header1Background);
}

.descriptionClass {
  display: block;
  font-size: 1.2em;
}

.contentClass {
  margin-left: 10px;
  margin-right: 10px;
}

.inputOutline {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.labelBox {
  display: block;
  margin-right: 5px;
}
.topLabel {
}

.ibox {
  height: 30px;
  border: 2px solid black;
  text-align: center;
}

.buttonPress {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.grid {
  /* border: 3px solid black; */
  border-radius: 1%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  overflow: hidden;
}

.topLeft,
.topRight,
.bottomLeft,
.bottomRight {
  overflow: scroll;
  border: 0.2px solid black;
  display: grid;
}
.topRight,
.bottomLeft {
  background: var(--topRightColor);
  /* scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  scrollbar-width: thin; */
  font-weight: bold;
}
.topLeft {
  background: var(--topLeftColor);
  font-weight: bolder;
  border-top: none;
  border-left: none;
}
.topRight {
  border-top: none;
  border-right: none;
}
.bottomLeft {
  border-left: none;
  border-bottom: none;
}
.bottomRight {
  background: var(--bottomRightColor);
  /* scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  scrollbar-width: thin; */
  font-weight: 600;
  border-right: none;
  border-bottom: none;
}

.cellClass {
  display: flex;
  border: 0.01px solid rgb(151, 148, 148);
  text-align: center;
  justify-content: center;
  align-items: center;
}
