* {
  box-sizing: border-box;
}
:root {
  --black-shade: rgb(63, 62, 62);
  --white-shade: rgb(233, 228, 228);
  --border-color: rgb(123, 123, 224);
  --even-child-color: rgb(240, 117, 117);
  --odd-child-color: rgb(74, 74, 218);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url(resources/space.jpeg);
  background-size: contain;
  background-repeat: repeat;
  overflow: hidden;
}

#root {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  object-fit: contain;
  opacity: 0.75;
  filter: contrast(2);
  height: 30%;
  width: 100%;
}

.app {
  display: flex;
  height: 100%;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.app-form,
.app-input,
.submit-button,
.character {
  font-size: 1.15rem;
}

.submit-button,
.app-input,
.film {
  border: 2px solid var(--border-color);
  border-radius: 15px;
}

.app-form {
  display: flex;
  width: 50%;
  height: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.app-input {
  padding: 2%;
  width: 55%;
  text-align: center;
  overflow: auto;
}
.submit-button {
  cursor: pointer;
  padding: 3%;
  opacity: 0.7;
}

.film {
  opacity: 0.85;
  background-image: linear-gradient(
    to right,
    var(--black-shade),
    var(--white-shade) 20%,
    var(--white-shade) 80%,
    var(--black-shade)
  );
  text-align: center;
  display: inline-block;
  font-size: large;
  height: 80%;
  overflow: auto;
  width: 40%;
  padding: 4% 2%;
  /* list-style-position: outside; */
}

.character {
  text-align: center;
  overflow: auto;
  margin-top: 2%;
}

.character:first-child {
  margin-top: 0;
}

.character:nth-child(2n) {
  color: var(--even-child-color);
}

.character:nth-child(2n + 1) {
  color: var(--odd-child-color);
}

.no-border,
.no-border-character {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-border {
  width: 40%;
}

.no-border-character {
  padding: 0 20%;
}

.messages {
  overflow-wrap: anywhere;
  width: 70%;
  text-align: center;
}
