* {
  box-sizing: border-box;
}
body {
  font-size: 20px;
}

.bclass {
  display: block;
  border: 5px solid green;
}

.iclass {
  display: inline;
  border: 5px solid black;
}

.fclass {
  display: flex;
  /* flex-direction: column; */
  border: 5px solid red;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: stretch; */
  /* writing-mode: vertical-rl; */
  /* justify-content: space-between; */
  width: 50%;
  height: 200px;
  /* justify-content: center;
  align-items: center; */
}

.obclass1 {
  border: 2px solid orange;
  /* margin: 3%; */
  /* min-width: 100%; */
  /* flex-grow: 2;
  order: 2; */
}
.obclass2 {
  border: 2px solid orange;
  /* margin: 3%; */
  /* min-width: 100%; */
  /* flex-grow: 3;
  order: 1; */
}
.obclass3 {
  border: 2px solid orange;
  /* margin: 3%; */
  /* min-width: 100%; */
  /* flex-grow: 1;
  order: 3; */
}
