* {
  box-sizing: border-box;
}
:root {
  --backColor: #282c3f;
  --borderColor: rgb(255, 194, 102);
}

html {
  width: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow: auto;
  font-family: ProximaNova, Arial, Helvetica Neue, sans-serif;
  width: 100%;
  margin: 0px;
  /* Body taking 8px margin by default */
  height: 100%;
  font-size: max(1vmax, 20px);
}

.slides {
  z-index: 1;
  display: flex;
  background: var(--backColor);
  width: max(1240px, 100%);
  height: max(200px, 30%);
}
.imageButton {
  display: flex;
  width: min(1240px, 100%);
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

.containImg {
  display: flex;
  background: var(--backColor);
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
}

.slide {
  cursor: pointer;
  border: 2px solid rgb(70, 77, 109);
  display: inline-block;
  margin-right: 2%;
  height: 80%;
  transition: 0.5s;
}

.slide:hover {
  transform: scale(1.1);
}

.rightButton,
.leftButton {
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  height: 60px;
  width: 150px;
  border: 2px var(--borderColor);
  border-radius: 50%;
  border: 3px solid var(--borderColor);
}
.slide:last-child {
  margin-right: 0px;
}

.arrowClass {
  mix-blend-mode: multiply;
  object-fit: contain;
  height: 60%;
  width: 60%;
}

.rightButton {
  margin-left: -2.5%;
}

.leftButton {
  margin-right: -2.5%;
}

.slides.header {
  z-index: 2;
  background: white;
  max-height: max(20px, 8%);
  min-height: 4.5vmax;
  position: sticky;
  top: 0px;
}

.logo {
  mix-blend-mode: multiply;
  flex: 0 1;
  cursor: pointer;
  object-fit: contain;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
}

.textClass {
  cursor: pointer;
  width: 9%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 1%;
  padding-right: 1%; */
}

.textClass1 {
}

.textClass2 {
  margin-left: auto;
}
.centerText {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 2px solid white;
  border-radius: 15%;
  transition: 0.25s;
}

.centerText:hover {
  border-color: rgb(255, 194, 102);
  background-color: rgb(255, 184, 77);
}

article p {
  text-align: center;
}
