* {
  box-sizing: border-box;
}
:root {
  --backColor: #282c3f;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow: auto;
  font-family: ProximaNova, Arial, Helvetica Neue, sans-serif;
  width: 100%;
  margin: 0px;
  /* Body taking 8px margin by default */
  height: 100%;
  font-size: max(1vmax, 20px);
}

.slides {
  display: flex;
  /* justify-content: center; */
  background: var(--backColor);
  width: max(1240px, 100%);
  height: max(200px, 20%);
}
.imageButton {
  display: flex;
  width: min(1240px, 100%);
  /* align-items: center; */
  /* height: 100%; */
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

.containImg {
  /* margin: 1%; */
  display: flex;
  background: var(--backColor);
  align-items: center;
  /* justify-content: safe center; */
  /* justify-items: center; */
  overflow: hidden;
  flex-wrap: nowrap;
}

.slide {
  /* display: inline-block; */
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  height: 80%;
  min-width: 25%;
  max-width: 25%;
}
/* .slide:first-child {
  margin-left: auto;
} */

.rightButton,
.leftButton {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  height: 40%;
  width: 13%;
  border: 2px solid orange;
  border-radius: 50%;
}

.arrowClass {
  object-fit: contain;
  height: 50%;
  width: 50%;
}

/* .leftButton .arrowClass {
  float: right;
}

.rightButton .arrowClass {
  float: left;
} */

.rightButton {
  margin-left: 1%;
}

.leftButton {
  margin-right: 1%;
}

.slides.header {
  background: white;
  max-height: max(10px, 7%);
  min-height: 4.5vmax;
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0px;
  /* align-self: flex-start; */
}

.logo {
  flex: 0 1;
  object-fit: contain;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
}

.textClass {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  margin-right: 3%;
}

.textClass1 {
  margin-left: 3%;
}

.textClass2 {
  margin-left: auto;
}
